@using LoL_Builds.Models
@model LoginViewModel
@{
    ViewBag.Title = "Entrar";
}
<div class="row">
<div class="col-md-8">
    <h2 style="color:white">@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm" style="color:white">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use uma conta local para entrar.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.Label("Lembrar-me?")
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Entrar" class="btn btn-default" />
                        </div>

                    </div>
                }
            </section>
        </div>
    </div>
</div>
<div class="col-md-4" style="color:white; margin-top:50px;">
    <br />
    <h3>Caso não esteja registado:</h3>

    Terá imensas regalias caso o faça, como:
    <ul>
        <li>Partilhar as suas experiências como jogador;</li>
        <li>Melhorar as suas capacidades como jogador;</li>
        <li>Etc...</li>
    </ul>
    @Html.ActionLink("Registar", "Register", null, new { @class = "btn btn-primary" })
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}