@model LoL_Builds.Models.RegisterViewModel
@{
    ViewBag.Title = "Registo";
}

<h2 style="color:white">@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div style="color:white">

        @*CLASSE DOS USERS DO ASP.NET*@

        @Html.AntiForgeryToken()
        <h4 style="color:white">Criar nova conta.</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        @*CLASSE DOS UTILIZADORES*@
        <hr />
        <h4>Dados do utilizador.</h4>
        <div class="form-group">
            @Html.LabelFor(m => m.utilizador.Nome, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.utilizador.Nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.utilizador.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.utilizador.DataNascimento, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @*@Html.TextBoxFor(m => m.utilizador.Nome, new { @class = "form-control" })*@
                <input id="date" type="date" name="DataNasc" class="form-control">
                @Html.ValidationMessageFor(m => m.utilizador.DataNascimento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.utilizador.Genero, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.utilizador.Genero, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.utilizador.Genero, "", new { @class = "text-danger" })
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Registar" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}