@model LoL_Builds.ApplicationUser

@{
    ViewBag.Title = Model.Email;
}
@if (Model.Email.Equals(Session["MyEmail"]))
{
    <p class="text-danger">Não se consegue eliminar ou editar as suas próprias permissões</p>
}
<div>
    @Html.Action("Details", "Utilizadores", new { id = Session["UtilID"] })

</div>
<div style="color:white">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Email associado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <br />
        <dt>
            Role
        </dt>
        <dd>
            @foreach (var item in ViewBag.RoleNames)
            {
                @Html.DisplayFor(i => item)
            }
        </dd>
    </dl>
</div>
@if (Model.Email.Equals(Session["MyEmail"]))
{
    @Html.ActionLink("Voltar aos utilizadores", "Index", "Utilizadores", null, new { @class = "btn btn-default" })
}
else
{
    <p>
        @Html.ActionLink("Editar permissões", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Eliminar utilizador", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" }) |
        @Html.ActionLink("Voltar aos utilizadores", "Index", "Utilizadores", null, new { @class = "btn btn-default" })

    </p>
}

