@model LoL_Builds.Models.ChampRoles

@{
    ViewBag.Title = @Model.Role;
}

<h2 style="color:white">@Model.Role</h2>

<div class="row">
    <br />
    <div class="container col-md-2 text-center" style="margin-left: 27px; padding-bottom:35px">

        <div class="thumbnail thumbRoles" style="background-color :#bfbfbf;">

            @* IMAGEM DA ROLE *@
            <a style="cursor:pointer;" href="@(Url.Action("Index", "ChampRoles"))">
                <img class="img-thumbnail" src="~/Imagens/Roles/@Model.Imagem" />
            </a>
            @* NOME DA ROLE *@
            <div class="container">
                <div class="h4 text-primary">
                    <h4>
                        @Html.DisplayFor(modelChampions => Model.Role)
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row" style="display: flex">
    @foreach (var champ in Model.Champions)
    {
        <div class="row col-md-2" style="margin-left:25px;padding-bottom:35px">

            <div class="thumbnail thumbChampions" style="background-color :#bfbfbf;">

                @* IMAGEM DO CHAMPION *@
                <a style="cursor:pointer;" href="@Url.Action("Details", "Champions", new { id = champ.ID })">
                    <img class="img-thumbnail" src="~/Imagens/Champions/@champ.Imagem" />
                </a>

                @* NOME DO CHAMPION *@
                <div class="container">
                    <div class="h4 text-primary">
                        <h4>
                            @Html.DisplayFor(modelChampions => champ.Nome)
                        </h4>
                    </div>
                </div>

                @* ROLES DO CHAMPION *@
                <div class="container" style="height:70px;font-weight:bold; color:#224362">
                    @foreach (var cRoles in champ.ChampRoles)
                    {
                        <div class="p">
                            <a href="@Url.Action("Details", "ChampRoles", new { id = cRoles.ID })">
                                @Html.DisplayFor(c => cRoles.Role)
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
@{
    if (Request.IsAuthenticated && User.IsInRole("Administrador"))
    {
        <div class="row">
            <a class="btn btn-default" href=@Url.Action("Index", "ChampRoles")>Voltar à gestão</a>
        </div>

    }
}