@model LoL_Builds.Models.Champions

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Nome);
}

<h2 style="color:white">@Html.DisplayFor(model => model.Nome)</h2>

<div style="color:white">
    <hr />
    <div class="row">
        <div class="col-md-2">
            <img src="~/Imagens/Champions/@Model.Imagem " class="img-thumbnail" />
        </div>
        <div class="col-md-8">
            <h3>@Html.DisplayNameFor(model => model.Descricao):</h3>
            <p>@Html.DisplayFor(model => model.Descricao)</p>
        </div>
    </div>

    <div class="row">
        @if (Model.ChampRoles.Count() != 0)
        {
            <h3>@Html.DisplayNameFor(model => model.ChampRoles):</h3>
            <div class="col-md-7">
                @foreach (var cRoles in Model.ChampRoles)
                {
                    <div class="col-md-2" style="text-align:center;">
                        <a style="cursor:pointer;" href="@Url.Action("Details", "ChampRoles", new { id = cRoles.ID})">
                            <img class="img-thumbnail thumbSmallRoles" src="~/Imagens/Roles/@cRoles.Imagem" title="@cRoles.Role" />
                        </a>
                        <p>@cRoles.Role</p>
                    </div>
                }
            </div>
        }
    </div>
    <br />
    @if (Model.Builds.Count() != 0)
    {
        <div>
            <h3>@Html.DisplayNameFor(model => model.Builds):</h3>
        </div>
        <div>
            @* Builds Associadas ao Champion *@

            <div style="height:70px;font-weight:bold; color:#224362">
                @foreach (var build in Model.Builds)
                {
                    <div class="p">
                        <a href="@Url.Action("Details", "Builds", new { id = build.ID })">
                            @Html.DisplayFor(c => build.Nome)
                        </a>
                    </div>
                }
            </div>
        </div>

    }
</div>
<div style="color:white">
    @if (Request.IsAuthenticated && User.IsInRole("Administrador"))
    {
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Voltar aos Champions", "Index", null, new { @class = "btn btn-default" })
        </p>
    }
    else
    {
        <p>
            @Html.ActionLink("Voltar aos Champions", "Index", null, new { @class = "btn btn-default" })
        </p>
    }
</div>