@model LoL_Builds.Models.Builds

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Nome);
    var champ = Model.Champion;
}
<h4 style="color:white">Criador: @Model.Utilizador.Nome</h4>

<h2 style="color:white">@Html.DisplayFor(model => model.Nome)</h2>

@* DETALHES DO CHAMPION *@
<div class="row" style="color:white">
    <br />
    <div class="container col-md-2 text-center" style="padding-bottom:35px">

        <div class="thumbnail thumbChampions" style="background-color :#bfbfbf;">

            @* IMAGEM DO CHAMPION *@
            <a style="cursor:pointer;" href="@Url.Action("Details", "Champions", new { id = @champ.ID })">
                <img class="img-thumbnail" src="~/Imagens/Champions/@champ.Imagem" />
            </a>

            @* NOME DO CHAMPION *@
            <div class="container">
                <div class="h4 text-primary">
                    <h4>
                        @Html.DisplayFor(modelChampions => champ.Nome)
                    </h4>
                </div>
            </div>

            @* ROLES DO CHAMPION *@
            <div style="height:70px;font-weight:bold; color:#224362">
                @foreach (var cRoles in champ.ChampRoles)
                {
                    <div class="p">
                        <a href="@Url.Action("Details", "ChampRoles", new { id = cRoles.ID })">
                            @Html.DisplayFor(c => cRoles.Role)
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@* ITENS UTILIZADOS NA BUILD *@
<div class="row" style="display:flex;color:white">

    @if (Model.Items.Count() != 0)
    {
        <h3>Items:</h3>
        foreach (var item in Model.Items)
        {
            <div class="col-4 thumbnail" style="margin-right:10px;margin-bottom:10px; background-color :#bfbfbf;">
                <a href="@Url.Action("Details", "Items", new { id = item.ID })">
                    <img src="~/Imagens/Items/@item.Imagem" />
                    @Html.DisplayFor(i => item.Nome)
                </a>
            </div>
        }
    }
</div>
<br />
@* COMENTARIOS DA BUILD *@
<div class="row" style="display:contents; color:white">
    @if (Model.Comentarios.Count() != 0)
    {
        <h3>Comentários:</h3>
        foreach (var comment in Model.Comentarios)
        {
            <br />
            <div class="row">
                <div class="col-md-7" style="margin-left:10px;margin-bottom:10px; color:white">
                    <p class="p">@comment.TimeStamp</p>
                    <p class="h4">@comment.Utilizador.Nome</p>
                    <p class="p">@comment.Texto</p>
                </div>

                @if (Request.IsAuthenticated && (User.IsInRole("Administrador") || User.IsInRole("Moderador")))
                {

                    <div class="col-md-3" style="height:100px">
                        <a class="btn btn-danger" href=@Url.Action("Delete", "Comentarios", new { id=comment.ID }) style="position: absolute;top: 50%; transform: translateY(-50%);">Eliminar</a>
                    </div>
                }
            </div>
        }
    }

    @* NOVOS COMENTARIOS *@

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            <div class="row">
                <div class="col">
                    @Html.TextArea("comentario", "", 4, 150, htmlAttributes: new { @class = "form-control", @style = "resize:none" })
                    @Html.ValidationMessage("Erro ao comentar")
                    <input type="submit" value="Comentar" class="btn btn-default" />
                </div>
            </div>
        }
    }
    <br />
</div>



<div class="row">
    <a class="btn btn-default" href=@Url.Action("Index", "Builds")>Voltar às Builds</a>

    @if (User.IsInRole("Administrador") || User.IsInRole("Moderador") || User.Identity.Name == Model.Utilizador.UserName)
    {
        <a class="btn btn-primary" href=@Url.Action("Edit", "Builds", new {id= Model.ID})>Editar Build</a>
        @Html.ActionLink("Eliminar", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger" })
    }

</div>